.header {
    background-color: red;
    height: 60px;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    display: ;
    
}
.main {
display: flex;
justify-content: center;
}
.recept {
    display: inline-block;
    margin: 50px;
    text-align: left;
    border: 5px solid #E5E000;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 33px;
    width: 400px;
    height: 800px;
    font-size: 20px
}

.footer {
    background-color: red;
    height: 60px;
    color: white;
    display: block;
    padding-left: 20px;
    padding-top: 30px;
}